                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Quality Support</h3>                   
                                </div>
                               <div class="col-md-6 text-right">
                                   <ul class="stars">
                                       <li class="lni-star-filled star"></li>
                                       <li class="lni-star-filled star"></li>
                                       <li class="lni-star-filled star"></li>
                                       <li class="lni-star-filled star"></li>
                                       <li class="lni-star-filled star"></li>
                                   </ul>
                               </div>
                            </div>
                            <div class="row">
                                <div class="quality-support-text">
                                    <div class="col-md-10">
                                        <p>White Graphics is a highly skilled and uniquely capable firm with multitudes of talent on-board. We have collaborated on a number of diverse projects that have been a great success.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="img/testimonial/client-1.jpg" alt="Client 1" class="img-responsive img-circle">
                                </div>
                                <div class="col-md-8">
                                    <h4>Joq Martin</h4>
                                    <h4>Senio <br> Developer</h4>
                                </div>
                            </div>